@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.leaflet-container {
  z-index: 0;
  font-family: inherit;
}
